$brand-pink: #e02bbd;
$brand-purple: #6c00ff;
$text: #232129;

$white: #fff;
$background: #fef7f6;
$button-gradient-light: #e306d2;
$button-gradient-dark: #6c00ff;

/* Fonts */

$slime: 'JELLY FRUIT', sans-serif;
$inter: 'Inter', sans-serif;
